<div class="auth-links">
  <% if (!isLoggedIn) { %>
  <a href="/login">Login</a>
  <% } else { %>
  <h1 class="username"><%= username %></h1>
  <a href="#" onclick="logoutUser(); return false;">Logout</a>
  <% } %>
</div>
