<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../public/styles.css" />
</head>
<body>
    <h1>Hello world</h1>
    <ul>
        <p>Hi brom!</p>
    </ul>

    <form id="register" method="post" action="/api/user">    
        <label><b>Email     
        </b>    
        </label>    
        <input type="text" name="email" id="email" placeholder="Email">    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="password" id="password" placeholder="Password">    
        <br><br>
        <label><b>Confirm Password     
        </b>    
        </label>    
        <input type="Password" name="confirm" id="confirm" placeholder="Password Repeat">    
        <br><br>      
        <input type="submit" name="submit" id="submit" value="Register">
    </form> 

</br>
<form id="delete-user" method="post" action="/api/user/:id">
    <label>ID to delete</label></b>
    <input type="text" name="id" id="id-to-delete" placeholder=" Ener ID todelete">
    <br><br>
    <input type="submit" value="Delete User">
</form>

</body>
<script>
    document.getElementById('delete-user').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the normal form submission
        var userId = document.getElementById('id-to-delete').value;
        var actionUrl = this.action.replace(':id', userId); // Replace placeholder with actual ID
        fetch(actionUrl, {
            method: 'DELETE', // Set method to DELETE
            headers: {
              'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            alert('User deleted successfully');
        })
        .catch((error) => {
            console.error('Error:', error);
            alert('Failed to delete user');
        });
    });
</script>
</html>