<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Posts</title>
    <link rel="stylesheet" type="text/css" href="/css/posts.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
  <body>
    <%- include('partials/navbar.html', { page: 'Post',isLoggedIn: isLoggedIn,
    username: username }) %>
    <!-- Include the navbar partial -->
    <h1>Post</h1>
    <div class="posts-container">
      <% if (post) { %>
      <!-- Checks if the post object exists -->
      <div class="post">
        <h2>Posted: <%= post.username %></h2>
        <p>url post <%= post.caption %></p>
        <img
          src="../../<%= post.image_url %>"
          alt="Post Image"
          style="max-width: 500px"
        />
        <p>Location: <%= post.location || 'Not specified' %></p>
        <p>Posted on: <%= new Date(post.created_at).toLocaleDateString() %></p>
      </div>
      <% } else { %>
      <p>No posts available.</p>
      <% } %>
    </div>
  </body>
  <script src="/scripts/helper_main.js"></script>
</html>
