<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>
<body>
    <div class="registeration-box">
        <form id="register" method="post" action="/api/user">    
        <div class="login-header">
            <header>Registeration</header>
        </div>
        <div class="input-box">
            <input name="email" type="text" class="input-field" placeholder="Email" autocomplete="off" required>
        </div>
        <div class="input-box">
            <input name="password" type="password" class="input-field" placeholder="Password" autocomplete="off" required>
        </div>
        <div class="input-box">
            <input name="confirm" type="password" class="input-field" placeholder="Repeat Password" autocomplete="off" required>
        </div>
        <div class="forgot">
            <section>
                <input type="checkbox" id="check">
                <label for="check">Remember Me</label>
            </section>
            <section>
                <a href="#">Forgot Password?</a>
            </section>
        </div>
        <div class="input-submit">
            <button name="submit" class="submit-btn" id="submit"></button>
            <label for="submit"> Sign In</label>
        </div>
        <div class="sign-up-link">
            <p>Already have an account? <a href="/login">Login</a></p>
        </div>
    </form>
</div>
</html>