<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>
<body>
    <div class="login-box">
        <form method="post" action="/login-user">    
        <div class="login-header">
            <header>Login</header>
        </div>
        <div class="input-box">
            <input name="email" type="text" class="input-field" placeholder="Email" autocomplete="off" required>
        </div>
        <div class="input-box">
            <input name="password" type="password" class="input-field" placeholder="Password" autocomplete="off" required>
        </div>
        <div class="forgot">
            <section>
                <input type="checkbox" id="check">
                <label for="check">Remember Me</label>
            </section>
            <section>
                <a href="#">Forgot Password?</a>
            </section>
        </div>
        <div class="input-submit">
            <button name="submit" class="submit-btn" id="submit"></button>
            <label for="submit"> Sign In</label>
        </div>
        <div class="sign-up-link">
            <p>Don't have an account? <a href="/register">Sign Up</a></p>
        </div>
    </form>
</div>

<!--     <form id="register" method="post" action="/api/user">    
        <label><b>Email     
        </b>    
        </label>    
        <input type="text" name="email" id="email" placeholder="Email">    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="password" id="password" placeholder="Password">    
        <br><br>
        <label><b>Confirm Password     
        </b>    
        </label>    
        <input type="Password" name="confirm" id="confirm" placeholder="Password Repeat">    
        <br><br>      
        <input type="submit" name="submit" id="submit" value="Register">
    </form>  -->

</br>

<!-- <form id="delete-user" method="post" action="/api/user/:id">
    <label>ID to delete</label></b>
    <input type="text" name="id" id="id-to-delete" placeholder=" Ener ID todelete">
    <br><br>
    <input type="submit" value="Delete User">
</form>

</body>
<script>
    document.getElementById('delete-user').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the normal form submission
        var userId = document.getElementById('id-to-delete').value;
        var actionUrl = this.action.replace(':id', userId); // Replace placeholder with actual ID
        fetch(actionUrl, {
            method: 'DELETE', // Set method to DELETE
            headers: {
              'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            alert('User deleted successfully');
        })
        .catch((error) => {
            console.error('Error:', error);
            alert('Failed to delete user');
        });
    });
</script> -->
</html>